<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>
 <div ng-app="myApp" ng-controller="personCtrl">

<button ng-click="Calculate()">Toggle</button>

<p>
First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
</p>
<p>Result : {{ result | currency }}</p>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('personCtrl', function($scope) {
    $scope.firstName = 2;
    $scope.lastName = 3;
    $scope.Calculate = function() {
       /* $scope.myVar = !$scope.myVar;*/
      var result =$scope.firstName + $scope.lastName;
      $scope.result=result;
       // alert(result);
    };
});
</script> 
</body>
</html>